@import url('styles/intro.css');

@font-face {
    font-family: 'noteworthy';
    src: URL('Noteworthy-Lt.ttf') format('truetype');
}

/* ----- PALETTE DE COULEURS ----- */
/* bleu clair: #08BDE1 */
/* bleu foncé: #19203E */
/* vert clair: #B5FBCD */
/* gris: #707070 rgb(112, 112, 112)*/
/* gris bleu: #5A5D7B */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.rectify-top-triangle {
    margin-bottom: -70px;
}

.homePage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 100%;
    overflow: hidden;
}

.topTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100px;
}

#pageTitle {
    color: #19203E;
    font-size: 40px;
    font-weight: bold;
    font-family: Helvetica Neue, Arial, sans-serif;
}

.leftLine {
    color: #19203E;
    height: 4px;
    width: 100px;
    margin-left: 330px;
    background-color: #19203E;
}

.rightLine {
    color: #19203E;
    height: 4px;
    width: 100px;
    margin-right: 330px;
    background-color: #19203E;
}

footer h3 {
    position: absolute;
    z-index: 3;
    bottom: 0;
    color: rgb(68, 75, 112);
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 1.2rem;
}

footer h3 a {
    text-decoration: none;
    color: rgb(68, 75, 112);
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .leftLine {
        color: #19203E;
        height: 2px;
        width: 60px;
        margin-left: 20px;
        background-color: #19203E;
    }

    #pageTitle {
        color: #19203E;
        font-size: 2rem;
        font-weight: bold;
        font-family: Helvetica Neue, Arial, sans-serif;
    }

    .rightLine {
        color: #19203E;
        height: 2px;
        width: 60px;
        margin-right: 20px;
        background-color: #19203E;
    }

    footer h3 {
        position: absolute;
        bottom: 0;
        color: rgb(68, 75, 112);
        width: 100%;
        height: 30px;
        text-align: center;
        font-size: 0.8rem;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 815px) {

    .leftLine {
        color: #19203E;
        height: 2px;
        width: 60px;
        margin-left: 20px;
        background-color: #19203E;
    }

    #pageTitle {
        color: #19203E;
        font-size: 1.4rem;
        font-weight: bold;
        font-family: Helvetica Neue, Arial, sans-serif;
    }

    .rightLine {
        color: #19203E;
        height: 2px;
        width: 60px;
        margin-right: 20px;
        background-color: #19203E;
    }

    footer h3 {
        position: absolute;
        bottom: -4px;
        color: rgb(68, 75, 112);
        width: 100%;
        height: 30px;
        text-align: center;
        font-size: 1rem;
    }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 816px) and (max-width: 1024px) {

    .leftLine {
        color: #19203E;
        height: 5px;
        width: 60px;
        margin-left: 20%;
        background-color: #19203E;
    }

    #pageTitle {
        color: #19203E;
        font-size: 2rem;
        font-weight: bold;
        font-family: Helvetica Neue, Arial, sans-serif;
    }

    .rightLine {
        color: #19203E;
        height: 5px;
        width: 60px;
        margin-right: 20%;
        background-color: #19203E;
    }

    footer h3 {
        position: absolute;
        bottom: 10px;
        color: rgb(68, 75, 112);
        width: 100%;
        height: 30px;
        text-align: center;
        font-size: 1.4rem;
    }

}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1401px) {

    .leftLine {
        color: #19203E;
        height: 4px;
        width: 60px;
        margin-left: 20%;
        background-color: #19203E;
    }

    #pageTitle {
        color: #19203E;
        font-size: 2.8rem;
        font-weight: bold;
        font-family: Helvetica Neue, Arial, sans-serif;
    }

    .rightLine {
        color: #19203E;
        height: 4px;
        width: 60px;
        margin-right: 20%;
        background-color: #19203E;
    }

    footer h3 {
        position: absolute;
        bottom: 10px;
        color: rgb(68, 75, 112);
        width: 100%;
        height: 30px;
        text-align: center;
        font-size: 1.6rem;
    }
}