/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .banner2 {
        position: relative;
        display: flex;
        justify-content: center;
        height: 80%;
        width: 100%;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #2c3e50;
        background-image: none;
    }
    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }

    .custom-select { 
        position: relative;
        top: -30px;
        display: flex;
        width: 16em;
        height: 3em;
        background: #2c3e50;
        overflow: hidden;
        border-radius: .25em;
    }
    select {
        flex: 1;
        cursor: pointer;
        font-family: "noteworthy";
        color: rgb(219, 220, 224);
        font-weight: bold;
        padding-left: 10px;
        font-size: 1rem;
    }
    /* Arrow */
    .custom-select::after {
        content: '\25BC';
        position: absolute;
        top: -6px;
        right: 0;
        padding: 1.2em 1em;
        background: #08BDE1;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
    }
    .custom-select:hover::after {
        color: #B5FBCD;
    }

    .language-style {
        position: absolute;
        top: 8%;
        width: 100%;
        height: 100%;
        display: none;
    }

    img {
        max-width: 100%;
    }

    .cardsLanguage {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .card {
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        width: 80%;
        height: 100px;
        margin: 4px 0;
    }

    .card a {
        text-decoration: none;
    }

    .card-top {
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        width: 152px;
        overflow: hidden;
    }

    #card-top-hotel {
        background-image: url("../img/imgPortfolio/hotel.png");
    }
    #card-top-instafrep {
        background-image: url("../img/imgPortfolio/instafrep.png");
    }
    #card-top-shareYourPassions {
        background-image: url("../img/imgPortfolio/shareYourPassions.png");
    }
    #card-top-supairoz {
        background-image: url("../img/imgPortfolio/supairoz.png");
    }
    #card-top-meMakers {
        background-image: url("../img/imgPortfolio/me-makers.png");
    }
    #card-top-chatroom {
        background-image: url("../img/imgPortfolio/chatroom.png");
    }
    #card-top-harryPotter {
        background-image: url("../img/imgPortfolio/hp-game.png");
    }
    #card-top-drumkit {
        background-image: url("../img/imgPortfolio/drumkit.png");
    }
    #card-top-simon {
        background-image: url("../img/imgPortfolio/simon.png");
    }

    .card-middle {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        border-radius: 50%;
        background-color: rgb(234, 236, 242, 0.4);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 50px;
        height: 50px;
        overflow: hidden;
    }

    .card-bottom {
        font-family: "noteworthy";
        background: rgb(248, 248, 248, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        width: 150px;
        border-radius: 0 0 16px 16px;
        overflow: scroll;

        position: absolute;
        top: 0;
        left: calc(50% - 0px);
    }

    .card-bottom p{
        color: #19203E;
        font-size: 0.8rem;
        margin-top: 0px;
        padding: 20px 22px 6px 30px;
    }

    .cardFooter {
        position: absolute;
        bottom: 2px;
        right: 8px;
        height: 30px;
        width: 30px;
    }
    .githubCard {
        font-size: 20px;
        height: 20px;
        width: 20px;
        color: #171a1c;
    }

    .onWeb {
        font-size: 16px;
        font-weight: bold;
        height: 20px;
        width: 20px;
        color: #08BDE1;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 815px) {
  
    .banner2 {
        position: relative;
        display: flex;
        justify-content: center;
        height: 80%;
        width: 100%;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #2c3e50;
        background-image: none;
    }
    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }

    .custom-select { 
        position: relative;
        top: -23px;
        display: flex;
        width: 14em;
        height: 2em;
        background: #2c3e50;
        overflow: hidden;
        border-radius: .25em;
    }
    select {
        flex: 1;
        cursor: pointer;
        font-family: "noteworthy";
        color: rgb(219, 220, 224);
        font-weight: bold;
        padding-left: 10px;
        font-size: 0.8rem;
    }
    /* Arrow */
    .custom-select::after {
        content: '\25BC';
        position: absolute;
        top: -6px;
        right: 0;
        padding: 1em 1em;
        background: #34495e;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
    }
    .custom-select:hover::after {
        color: #B5FBCD;
    }

    .language-style {
        position: absolute;
        top: 16%;
        width: 80%;
        height: 300px;
        display: none;
    }

    img {
        max-width: 100%;
    }

    .cardsLanguage {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .card {
        z-index: 1;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        animation: rotation 3s linear infinite;
        width: 26%;
    }

    .card:hover {
        transform: scale(1.06);
        transition: 1.3s;
    }

    .card a {
        text-decoration: none;
    }

    .card-top {
        background-repeat: no-repeat;
        background-size: cover;
        height: 70px;
        overflow: hidden;
    }

    #card-top-hotel {
        background-image: url("../img/imgPortfolio/hotel.png");
    }
    #card-top-instafrep {
        background-image: url("../img/imgPortfolio/instafrep.png");
    }
    #card-top-shareYourPassions {
        background-image: url("../img/imgPortfolio/shareYourPassions.png");
    }
    #card-top-supairoz {
        background-image: url("../img/imgPortfolio/supairoz.png");
    }
    #card-top-meMakers {
        background-image: url("../img/imgPortfolio/me-makers.png");
    }
    #card-top-chatroom {
        background-image: url("../img/imgPortfolio/chatroom.png");
    }
    #card-top-harryPotter {
        background-image: url("../img/imgPortfolio/hp-game.png");
    }
    #card-top-drumkit {
        background-image: url("../img/imgPortfolio/drumkit.png");
    }
    #card-top-simon {
        background-image: url("../img/imgPortfolio/simon.png");
    }

    .card-middle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgb(234, 236, 242, 0.4);
        position: absolute;
        left: 50%;
        top: 42%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 40px;
        height: 40px;
        overflow: hidden;
    }

    .card-bottom {
        font-family: "noteworthy";
        background: rgb(248, 248, 248, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 110px;
        border-radius: 0 0 16px 16px;
        overflow: scroll;
    }

    .card-bottom p{
        color: #19203E;
        font-size: 0.8rem;
        padding: 24px 20px 20px 20px;
    }

    .cardFooter {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 30px;
        width: 30px;
    }
    .githubCard {
        font-size: 20px;
        height: 20px;
        width: 20px;
        color: #171a1c;
    }

    .onWeb {
        font-size: 16px;
        font-weight: bold;
        height: 20px;
        width: 20px;
        color: #08BDE1;
    }    
}